/*Common theme*/
body{
    min-height: 100vh; /* Asegura que el cuerpo es al menos del tamaño del 'viewport'  */
    margin: 0; /* Elimina márgenes si es necesario */
    background-image: linear-gradient(to bottom, #0b0b39, #4c0767);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Fonts */

@font-face {
    font-family: 'Cyberway-Riders'; /* Name your custom font */
    src: url('Fonts/cyberway-riders-font/CyberwayRiders-lg97d.ttf') format('truetype'); /* Specify the path to the font file(s) */
    /* Add more format declarations if you have other font formats available */
}

/* Classes */

.asignatura{

    font-style: normal;
    font-family: 'Consolas', 'Courier New', 'Source Code Pro', monospace;
    display: inline-flexbox;
    width: 80vw;                 /* 80% of the viewport width */
    margin: auto;                /* Center the block */
    border-radius: 10px;         /* Rounded corners */
    border: 2px solid #ccc;      /* Clear gray border */
    background-color: rgba(22, 22, 22, 0.671); /* Transparent darker gray background */
    box-sizing: border-box;      /* Include border in the element's total width and height */
    margin-bottom: 20px;
    margin-top: 30px; 
    
    
    h2{
        color: wheat;
        text-decoration: underline;
        justify-content: center;
        margin-left: 3%;
    }

    h3{
        color: rgb(214, 5, 5);
        text-decoration: underline;
    }

    a {
        margin-left: 3%;
        color: rgb(77, 234, 15);
    }

    #mensajeError {
        margin-left: 3%;
        color: red;
    }
}


/*Individual Objects*/

#titulo {

    color: rgb(138, 132, 18);
    font-family: 'Cyberway-Riders';
    font-size: xx-large;
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: 10vh;            /* Full viewport height */
    margin-top: 15px;
}

#backHome {
    padding-left: 5%;
    color: rgb(42, 128, 8);
    font-family: 'Cyberway-Riders';
}

#mensajeDeAusenciaDeTraspasDePresentacion {

    margin-left: 5vh;

}

/* Style the navbar */
#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #1d1515;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #839909;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    font-family: 'Cyberway-Riders';
  }