body {
    font-family: "Dosis", sans-serif;
    text-align: center;
    background-color: rgb(1, 27, 122);
    background-image: url(Styles/images/fondo1.jpg);
    background-size: COVER;
    background-position: center;
    overflow: hidden;
    text-decoration: none;
    
    color: white;
  }
  


  @font-face {
    font-family: 'Cyberway-Riders'; /* Name your custom font */
    src: url('Fonts/Pixellettersfull-BnJ5.ttf') format('truetype'); /* Specify the path to the font file(s) */
    /* Add more format declarations if you have other font formats available */
}

  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
#titulo {
  color: rgb(138, 132, 18);
  font-family:'Cyberway-Riders';
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: 15px;
}

p {
  font-family: "Dosis", sans-serif;
  text-align: center;
  color: white;
  font-family:'Cyberway-Riders';
}

  .alg{
    margin: 100px 0 0 0;
    font-family:'Cyberway-Riders';
    font-style: normal;
    font-weight: 400;
   
  }

  .lin{
    margin: 100px 0 0 0;
  }

  .arc{
    margin: 100px 0 0 0;
  }

  .doc{
    margin: 100px 0 0 0;
  }

  #menu {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    list-style: none;
    font-size: 200%;
  }
  
  .menu-button {
    opacity: 0;
    z-index: -1;
  }
  
  .menu-button {
    width: 380px;
    height: 380px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -280px;
    border-radius: 50%;
    background: url(Styles/images/fondo.jpg);
    background-size: COVER;
    background-position: center;
    overflow: hidden;
    text-decoration: none;
    background-repeat: no-repeat;
    box-shadow: 0 0 15px rgb(246, 159, 159);
  }
  
  .linux {
    background: url(Styles/images/linux.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }

  .algoritmo {
    background: url(Styles/images/algoritmo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .arquitectura {
    background: url(Styles/images/procesador.jpeg);
    background-size: cover;
    background-position: center;
  
  }

  .documentacion {
    background: url(Styles/images/images.jpg);
    background-size: cover;
    background-position: center;

  }

  .memes {
    background: url(Styles/images/meme.jpg);
    background-size: cover;
    background-position: center;

  }

  .redes {
    background: url(Styles/images/meme.jpg);
    background-size: cover;
    background-position: center;

  }

  #menu:not(:target) > a:first-of-type,
  #menu:target > a:last-of-type {
    opacity: 1;
    z-index: 1;
  }
  
  #menu:not(:target) > .icon-plus:before,
  #menu:target > .icon-minus:before {
    opacity: 1;
  }
  


 
  .menu-item {
    
    width: 240px;
    height: 120px;
    position: absolute;
    left: 50%;
    line-height: 5px;
    top: 50%;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    background-color: rgba(160, 21, 21, 0.588);
    margin: -55px 0 0 -200px;
    transform: translate(0px, 0px);
    transition: transform 500ms;
    z-index: -2;
  }
  

  .menu-item2{
    
    width: 240px;
    height: 120px;
    position: absolute;
    left: 50%;
    line-height: 5px;
    top: 50%;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    background-color: rgba(160, 21, 21, 0.588);
    margin: -55px 0 0 -200px;
    transform: translate(0px, 0px);
    transition: transform 500ms;
    z-index: -3;
  }

  .menu-item:hover {
    background-color: #c71414;
    color: #c71414;
    box-shadow: 0 0 10px rgb(255, 255, 255);
  }
  
  .menu-item a {
    color: #ffffff;
    position: relative;
    top: 30%;
    left: 0;
    text-decoration: none;
  }

  .menu-item2:hover {
    background-color: #c71414;
    color: #c71414;
    box-shadow: 0 0 10px rgb(255, 255, 255);
  }
  
  .menu-item2 a {
    color: #ffffff;
    position: relative;
    top: 30%;
    left: 0;
    text-decoration: none;
  }
  
  #menu:not(:target) > .menu-item2:nth-child(8) {
    transform: rotate(20deg) translateY(-255px) translateX(100px) rotate(-20deg);
    transition-delay: 0.1s;
  }


  #menu:not(:target) > .menu-item2:nth-child(7) {
    transform: rotate(60deg) translateY(-300px) translateX(250px) rotate(300deg);
    transition-delay: 0.1s;
  }

  #menu:target > .menu-item:nth-child(6) {
    transform: rotate(60deg) translateY(-300px) translateX(250px) rotate(300deg);
    transition-delay: 0.1s;
  }
  
  #menu:target > .menu-item:nth-child(5) {
    transform: rotate(20deg) translateY(-255px) translateX(100px) rotate(-20deg);
    transition-delay: 0.1s;
  }
  
  #menu:target > .menu-item:nth-child(3) {
    transform: rotate(-20deg) translateY(-255px) translateX(-100px) rotate(20deg);
    transition-delay: 0.1s;
  }
  
  #menu:target > .menu-item:nth-child(4) {
    transform: rotate(-60deg) translateY(-300px) translateX(-250px) rotate(60deg);
    transition-delay: 0.1s;
  }
  

  
  .content {
    position: absolute;
    text-align: center;
    margin: -10px 0 0 -30px;
    top: 65%;
    left: 50%;
    font-size: 15px;
  }